body{
    background-color: #ad81d3;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}
#errors{
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
form, .formData{
    width: 380px;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: white;
    background-color: #0781b2;
    border-radius: 20px;
}
label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: white;
}
input:not([type="radio"]), select{
    font-size: 16px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
}
input:not([type="radio"]){
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
}
select{
    width: 190px;
    margin-top: 10px;
}
input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: #bc2990;
    color: white;
    font-family: 'Kalam', cursive;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 4px 4px 0px #8c087a;
    border-radius: 8px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px #8c087a;
}

nav{
    text-align: center;
}

nav ul{
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    background-color: #0781b2;
    border-radius: 10px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    min-width: 50px;
}

nav ul li a, nav ul li a:active{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

p.message{
    color: white;
    text-align: center;
}

table{
    border-collapse: collapse;
    border: 1px solid white;
    max-width: 600px;
    margin: 0 auto;
}
th,td{
    border: 1px solid white;
    padding: 5px;
    color: white;
}



